.btn {
    color: #313131;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    border: 1px solid #656565;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
@media (min-width: 600px) {
    .btn .inlineDiv{
        margin: 0 1em 2em;
    }
}
.btn-Primary {
    background: #EAEAEA;
    transition: all 150ms linear;
}

.btn-Primary:hover {
    background: #D6D6D6;
    border: 1px solid #437AF3;
    text-decoration: none;
    transition: all 250ms linear;
}
table {

  width: 100%;
  position: relative;
  border-collapse: collapse;
  color: #313131;
}

table, th,tr, td{
  border: 1px solid black;
}
div{
  color:black;
}
.inlineDiv{
  transition: all 250ms linear;
  min-width: 13em;
  float: left;
  padding: 1%;
  valign:top;
  position: relative;
  width: 45%;
  display: inline-block;
}

